body
{
   background-color: #1E1E1E;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   animation: clip-path-down-enter 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 300ms 1 normal both;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid15
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid15
{
   box-sizing: border-box;
   padding: 50px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid15 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid15 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid15 > .row > .col-1
{
   float: left;
}
#LayoutGrid15 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid15:before,
#LayoutGrid15:after,
#LayoutGrid15 .row:before,
#LayoutGrid15 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid15:after,
#LayoutGrid15 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid15 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid11
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid11
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid11 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid11 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid11 > .row > .col-1
{
   float: left;
}
#LayoutGrid11 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid11:before,
#LayoutGrid11:after,
#LayoutGrid11 .row:before,
#LayoutGrid11 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid11:after,
#LayoutGrid11 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid11 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_mining_grid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: #1E1E1E;
   background-image: none;
   border: 1px solid rgba(45,45,45,0.00);
   border-radius: 4px;
   box-sizing: border-box;
   margin: 0;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#mining_grid
{
   box-sizing: border-box;
   padding: 15px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#mining_grid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#mining_grid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#mining_grid > .row > .col-1
{
   float: left;
}
#mining_grid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#mining_grid:before,
#mining_grid:after,
#mining_grid .row:before,
#mining_grid .row:after
{
   display: table;
   content: " ";
}
#mining_grid:after,
#mining_grid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#mining_grid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_quests_grid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: none;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#quests_grid
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#quests_grid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#quests_grid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#quests_grid > .row > .col-1
{
   float: left;
}
#quests_grid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#quests_grid:before,
#quests_grid:after,
#quests_grid .row:before,
#quests_grid .row:after
{
   display: table;
   content: " ";
}
#quests_grid:after,
#quests_grid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#quests_grid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #1E1E1E;
   background-image: none;
   border: 1px solid rgba(30,30,30,0.00);
   border-radius: 10px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 0px 10px #000000;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 0 10px 0 10px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Button3
{
   border: 1px solid rgba(245,245,245,0.00);
   border-radius: 5px;
   background-color: transparent;
   background-image: url('images/ai__1RDJ.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Button3:hover
{
   background-color: #A9A9A9;
   transition: background-color 350ms linear 0ms;
}
#Button3
{
   background-color: rgba(255,255,255,0.00);
   transition: all 350ms linear 0ms, background-color 350ms linear 0ms;
}
#Button3:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#Button5
{
   border: 1px solid rgba(245,245,245,0.00);
   border-radius: 5px;
   background-color: transparent;
   background-image: url('images/ai__K8XE.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#Button5:hover
{
   background-color: #A9A9A9;
   transition: background-color 350ms linear 0ms;
}
#Button5
{
   background-color: rgba(255,255,255,0.00);
   transition: all 350ms linear 0ms, background-color 350ms linear 0ms;
}
#Button5:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#Button6
{
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 5px;
   background-color: transparent;
   background-image: url('images/ai__BA77.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button6:focus
{
   outline: 0;
}
#Button6:hover
{
   background-color: #808080;
   transition: background-color 350ms linear 0ms;
}
#Button6
{
   background-color: rgba(255,255,255,0.00);
   transition: all 350ms linear 0ms, background-color 350ms linear 0ms;
}
#Button6:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#buy1 .modal-content
{
   background-color: #1E1E1E;
   background-image: none;
   border: 2px solid #1E1E1E;
   border-radius: 6px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.50);
   padding: 0;
   margin: 0;
   overflow: visible;
}
#buy1.fade
{
   opacity: 1;
   transition: all 500ms linear;
}
#buy1 .animate-show
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
}
#buy1 .animate-hide
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
   animation-direction: reverse;
}
#buy1.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#buy1 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#buy1 .modal-open
{
   overflow: hidden;
}
#buy1 .modal-dialog
{
   position: relative;
   width: 226px;
   margin-left: auto;
   margin-right: auto;
}
#buy1 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#buy1 .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #1E1E1E;
}
#buy1 .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #1E1E1E;
}
#buy1 .modal-body
{
   position: relative;
   width: 226px;
   height: 352px;
}
#buy1 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #1E1E1E;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 15px 15px 0 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#buy1 .modal-content
{
   margin: 0;
   pointer-events: all;
}
#buy1 .modal-title
{
   color: #1E1E1E;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#buy1 .modal-dialog
{
   justify-content: center;
   display: flex;
   align-items: center;
   pointer-events: none;
}
#buy1 .modal-dialog::before
{
   display: block;
   height: calc(100vh);
   content: "";
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 86px;
   height: 86px;
   vertical-align: top;
}
#wb_LayoutGrid13
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid13
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid13 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid13 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid13 > .row > .col-1
{
   float: left;
}
#LayoutGrid13 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid13:before,
#LayoutGrid13:after,
#LayoutGrid13 .row:before,
#LayoutGrid13 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid13:after,
#LayoutGrid13 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid13 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: inline-block;
   margin: 0;
   width: 222px;
   height: 19px;
}
#Button14
{
   border: 1px dashed #FF8C00;
   border-radius: 40px;
   background-color: #FF8C00;
   background-image: none;
   color: #F5F5F5;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in 600ms linear 0ms 1 normal both;
}
#Button14:focus
{
   outline: 0;
}
#Button14:hover
{
   background-color: #F5F5F5;
   color: #4F4F4F;
   transition: background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Button14
{
   background-color: #FF8000;
   background-color: #FF8000;
   color: #FFFFFF;
   transition: background-color 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Button14:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#wb_LayoutGrid14
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid14
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid14 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid14 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid14 > .row > .col-1
{
   float: left;
}
#LayoutGrid14 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid14:before,
#LayoutGrid14:after,
#LayoutGrid14 .row:before,
#LayoutGrid14 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid14:after,
#LayoutGrid14 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid14 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#buy2 .modal-content
{
   background-color: #1E1E1E;
   background-image: none;
   border: 2px solid #1E1E1E;
   border-radius: 6px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.50);
   padding: 0;
   margin: 0;
   overflow: visible;
}
#buy2.fade
{
   opacity: 1;
   transition: all 500ms linear;
}
#buy2 .animate-show
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
}
#buy2 .animate-hide
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
   animation-direction: reverse;
}
#buy2.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#buy2 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#buy2 .modal-open
{
   overflow: hidden;
}
#buy2 .modal-dialog
{
   position: relative;
   width: 226px;
   margin-left: auto;
   margin-right: auto;
}
#buy2 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#buy2 .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #1E1E1E;
}
#buy2 .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #1E1E1E;
}
#buy2 .modal-body
{
   position: relative;
   width: 226px;
   height: 352px;
}
#buy2 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #1E1E1E;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 15px 15px 0 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#buy2 .modal-content
{
   margin: 0;
   pointer-events: all;
}
#buy2 .modal-title
{
   color: #1E1E1E;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#buy2 .modal-dialog
{
   justify-content: center;
   display: flex;
   align-items: center;
   pointer-events: none;
}
#buy2 .modal-dialog::before
{
   display: block;
   height: calc(100vh);
   content: "";
}
#wb_LayoutGrid16
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid16
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid16 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid16 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid16 > .row > .col-1
{
   float: left;
}
#LayoutGrid16 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid16:before,
#LayoutGrid16:after,
#LayoutGrid16 .row:before,
#LayoutGrid16 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid16:after,
#LayoutGrid16 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid16 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid17
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid17
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid17 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid17 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid17 > .row > .col-1
{
   float: left;
}
#LayoutGrid17 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid17:before,
#LayoutGrid17:after,
#LayoutGrid17 .row:before,
#LayoutGrid17 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid17:after,
#LayoutGrid17 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid17 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 86px;
   height: 86px;
   vertical-align: top;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: inline-block;
   margin: 0;
   width: 222px;
   height: 19px;
}
#wb_LayoutGrid18
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid18
{
   box-sizing: border-box;
   padding: 50px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid18 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid18 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid18 > .row > .col-1
{
   float: left;
}
#LayoutGrid18 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid18:before,
#LayoutGrid18:after,
#LayoutGrid18 .row:before,
#LayoutGrid18 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid18:after,
#LayoutGrid18 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid18 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid19
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid19
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid19 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid19 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid19 > .row > .col-1
{
   float: left;
}
#LayoutGrid19 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid19:before,
#LayoutGrid19:after,
#LayoutGrid19 .row:before,
#LayoutGrid19 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid19:after,
#LayoutGrid19 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid19 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Button7
{
   border: 1px dashed #FF8C00;
   border-radius: 40px;
   background-color: #FF8C00;
   background-image: none;
   color: #F5F5F5;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in 600ms linear 0ms 1 normal both;
}
#Button7:focus
{
   outline: 0;
}
#Button7:hover
{
   background-color: #F5F5F5;
   color: #4F4F4F;
   transition: background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Button7
{
   background-color: #FF8000;
   background-color: #FF8000;
   color: #FFFFFF;
   transition: background-color 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Button7:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#buy3 .modal-content
{
   background-color: #1E1E1E;
   background-image: none;
   border: 2px solid #1E1E1E;
   border-radius: 6px;
   box-shadow: 0px 3px 15px rgba(0,0,0,0.50);
   padding: 0;
   margin: 0;
   overflow: visible;
}
#buy3.fade
{
   opacity: 1;
   transition: all 500ms linear;
}
#buy3 .animate-show
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
}
#buy3 .animate-hide
{
   animation-duration: 500ms;
   animation-fill-mode: both;
   animation-name: animate-fade-in;
   animation-direction: reverse;
}
#buy3.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#buy3 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#buy3 .modal-open
{
   overflow: hidden;
}
#buy3 .modal-dialog
{
   position: relative;
   width: 226px;
   margin-left: auto;
   margin-right: auto;
}
#buy3 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#buy3 .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #1E1E1E;
}
#buy3 .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #1E1E1E;
}
#buy3 .modal-body
{
   position: relative;
   width: 226px;
   height: 352px;
}
#buy3 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #1E1E1E;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 15px 15px 0 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#buy3 .modal-content
{
   margin: 0;
   pointer-events: all;
}
#buy3 .modal-title
{
   color: #1E1E1E;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#buy3 .modal-dialog
{
   justify-content: center;
   display: flex;
   align-items: center;
   pointer-events: none;
}
#buy3 .modal-dialog::before
{
   display: block;
   height: calc(100vh);
   content: "";
}
#wb_LayoutGrid20
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid20
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid20 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid20 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid20 > .row > .col-1
{
   float: left;
}
#LayoutGrid20 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid20:before,
#LayoutGrid20:after,
#LayoutGrid20 .row:before,
#LayoutGrid20 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid20:after,
#LayoutGrid20 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid20 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid21
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid21
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid21 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid21 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid21 > .row > .col-1
{
   float: left;
}
#LayoutGrid21 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid21:before,
#LayoutGrid21:after,
#LayoutGrid21 .row:before,
#LayoutGrid21 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid21:after,
#LayoutGrid21 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid21 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 86px;
   height: 86px;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text5
{
   display: inline-block;
   margin: 0;
   width: 222px;
   height: 19px;
}
#wb_LayoutGrid22
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid22
{
   box-sizing: border-box;
   padding: 50px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid22 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid22 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid22 > .row > .col-1
{
   float: left;
}
#LayoutGrid22 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid22:before,
#LayoutGrid22:after,
#LayoutGrid22 .row:before,
#LayoutGrid22 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid22:after,
#LayoutGrid22 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid22 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid23
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid23
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid23 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid23 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid23 > .row > .col-1
{
   float: left;
}
#LayoutGrid23 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid23:before,
#LayoutGrid23:after,
#LayoutGrid23 .row:before,
#LayoutGrid23 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid23:after,
#LayoutGrid23 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid23 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Button8
{
   border: 1px dashed #FF8C00;
   border-radius: 40px;
   background-color: #FF8C00;
   background-image: none;
   color: #F5F5F5;
   font-family: Bahnschrift;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
   animation: animate-fade-in 600ms linear 0ms 1 normal both;
}
#Button8:focus
{
   outline: 0;
}
#Button8:hover
{
   background-color: #F5F5F5;
   color: #4F4F4F;
   transition: background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Button8
{
   background-color: #FF8000;
   background-color: #FF8000;
   color: #FFFFFF;
   transition: background-color 300ms linear 0ms, background-color 300ms linear 0ms, color 300ms linear 0ms;
}
#Button8:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 290px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Button9
{
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 5px;
   background-color: transparent;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button9:focus
{
   outline: 0;
}
#Button9:hover
{
   background-color: #808080;
   transition: background-color 350ms linear 0ms;
}
#Button9
{
   background-color: rgba(255,255,255,0.00);
   transition: all 350ms linear 0ms, background-color 350ms linear 0ms;
}
#Button9:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#Button11
{
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 5px;
   background-color: transparent;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button11:focus
{
   outline: 0;
}
#Button11:hover
{
   background-color: #808080;
   transition: background-color 350ms linear 0ms;
}
#Button11
{
   background-color: rgba(255,255,255,0.00);
   transition: all 350ms linear 0ms, background-color 350ms linear 0ms;
}
#Button11:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#Button12
{
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 5px;
   background-color: transparent;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button12:focus
{
   outline: 0;
}
#Button12:hover
{
   background-color: #808080;
   transition: background-color 350ms linear 0ms;
}
#Button12
{
   background-color: rgba(255,255,255,0.00);
   transition: all 350ms linear 0ms, background-color 350ms linear 0ms;
}
#Button12:active
{
   background-color: #808080;
   transition: background-color 20ms linear 0ms;
}
#HorizontalLine2
{
   border-color: #1E1E1E;
   border-color: rgba(30,30,30,0.00);
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: inline-block;
   margin: 0;
   width: 222px;
   height: 19px;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text7
{
   display: inline-block;
   margin: 0;
   width: 222px;
   height: 19px;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text8
{
   display: inline-block;
   margin: 0;
   width: 222px;
   height: 19px;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 155px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   animation: slide-down-in 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 2000ms 1 normal both;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 10px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 200px;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   box-shadow: 0px 0px 20px #000000;
   display: inline-block;
   width: 213px;
   height: 213px;
   vertical-align: top;
}
#Image2:active
{
   padding-top: 2px;
   transition: padding-top 15ms linear 0ms;
}
#Image2
{
   padding-top: 0px;
   transition: padding-top 15ms linear 0ms;
}
